extends layout

block content
  h1= title
  p Welcome to #{title}
  if (user)
    p LOGGED IN AS #{user.username}
    a(href="/logout") Logout
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register

